ImageTransmissionLib/Connected Services/NewServiceReference/PicService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="picIndex" type="xs:int" />
        <xs:element minOccurs="0" name="dataIndex" type="xs:int" />
        <xs:element minOccurs="0" name="dataLength" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imgData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="robotID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImage2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="picIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataIndex" type="xs:int" />
        <xs:element minOccurs="0" name="dataLength" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imgData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="robotID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImage2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="robotID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadCompleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPictrue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parsIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="robot" type="xs:int" />
        <xs:element minOccurs="0" name="dataIndex" type="xs:int" />
        <xs:element minOccurs="0" name="dataLength" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imgData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="robotID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPictrueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadPictrueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload3DData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parsIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="robot" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="robotID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload3DDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>