ImageTransmissionLib/Connected Services/NewServiceReference/UploadService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/PicService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/PicService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UploadImageServer" />
      <xsd:import schemaLocation="http://localhost:8001/PicService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_FaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/UploadImageServer" name="detail" element="q1:FaultMessage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage2_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage2" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage2Response" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage2_FaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/UploadImageServer" name="detail" element="q2:FaultMessage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadComplete" />
  </wsdl:message>
  <wsdl:message name="IService_UploadComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadComplete_FaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/UploadImageServer" name="detail" element="q3:FaultMessage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadPictrue_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictrue" />
  </wsdl:message>
  <wsdl:message name="IService_UploadPictrue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictrueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadPictrue_FaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/UploadImageServer" name="detail" element="q4:FaultMessage" />
  </wsdl:message>
  <wsdl:message name="IService_Upload3DData_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload3DData" />
  </wsdl:message>
  <wsdl:message name="IService_Upload3DData_OutputMessage">
    <wsdl:part name="parameters" element="tns:Upload3DDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Upload3DData_FaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/UploadImageServer" name="detail" element="q5:FaultMessage" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage" message="tns:IService_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImageResponse" message="tns:IService_UploadImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/UploadImageFaultMessageFault" name="FaultMessageFault" message="tns:IService_UploadImage_FaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage2" message="tns:IService_UploadImage2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImage2Response" message="tns:IService_UploadImage2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/UploadImage2FaultMessageFault" name="FaultMessageFault" message="tns:IService_UploadImage2_FaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadComplete" message="tns:IService_UploadComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadCompleteResponse" message="tns:IService_UploadComplete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/UploadCompleteFaultMessageFault" name="FaultMessageFault" message="tns:IService_UploadComplete_FaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPictrue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadPictrue" message="tns:IService_UploadPictrue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadPictrueResponse" message="tns:IService_UploadPictrue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/UploadPictrueFaultMessageFault" name="FaultMessageFault" message="tns:IService_UploadPictrue_FaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Upload3DData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Upload3DData" message="tns:IService_Upload3DData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Upload3DDataResponse" message="tns:IService_Upload3DData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/Upload3DDataFaultMessageFault" name="FaultMessageFault" message="tns:IService_Upload3DData_FaultMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadImage2">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadComplete">
      <soap:operation soapAction="http://tempuri.org/IService/UploadComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadPictrue">
      <soap:operation soapAction="http://tempuri.org/IService/UploadPictrue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Upload3DData">
      <soap:operation soapAction="http://tempuri.org/IService/Upload3DData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8001/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>