Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8002/UpdateService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8002/UpdateService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8002/UpdateService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8002/UpdateService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UpdateServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUpdateFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateFiles" />
  </wsdl:message>
  <wsdl:message name="IService_GetUpdateFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUpdateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateFile" />
  </wsdl:message>
  <wsdl:message name="IService_GetUpdateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSkins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkins" />
  </wsdl:message>
  <wsdl:message name="IService_GetSkins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkinsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVersion" message="tns:IService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVersionResponse" message="tns:IService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUpdateFiles" message="tns:IService_GetUpdateFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUpdateFilesResponse" message="tns:IService_GetUpdateFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUpdateFile" message="tns:IService_GetUpdateFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUpdateFileResponse" message="tns:IService_GetUpdateFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkins">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSkins" message="tns:IService_GetSkins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSkinsResponse" message="tns:IService_GetSkins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IService/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFiles">
      <soap:operation soapAction="http://tempuri.org/IService/GetUpdateFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFile">
      <soap:operation soapAction="http://tempuri.org/IService/GetUpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkins">
      <soap:operation soapAction="http://tempuri.org/IService/GetSkins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8002/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>